.App {
  height: 90vh;
  padding: 20px;
}

.MuiGrid-container {
  justify-content: center;
}

.flights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__button {
  margin-top: 60px !important;
}
